<div class="card mt-3 p-1 text-start">
    <div class="card-header text-center">
        <h1 class="h2 text-primary">About</h1>
    </div>
    <div class="card-body">
        <p>This is a <b>Library Management System</b> built using <b>ASP.NET Core MVC</b>. The system allows users to manage books and authors efficiently.</p>
        <h5>🚀 Purpose</h5>
        <p>The purpose of this project is to create a simple effective library management system that allows users to:</p>
        <ul>
            <li>Efficiently manage books and authors. </li>
            <li>Establish a structured Book-Author relationship</li>
            <li>Provide a user-friendly UI using Bootstrap.  </li>
            <li>Implement CRUD operations for books and authors.</li>
        </ul>
        <br />
        <h5>🎯 Features</h5>
        <ul>
            <li><b>Book Management</b>: Add, edit, delete, list and see details books.</li>
            <li><b>Author Management</b>: Add, edit, delete, list and see details authors.</li>
            <li><b>Book-Author Relationship</b>: Each book is linked to an author.</li>
            <li><b>Bootstrap UI</b>: Responsive design with modern UI.</li>
        </ul>
        <br />
        <h5>🛠 Technologies Used</h5>
        <ul>
            <li><b>Backend</b>: ASP.NET Core MVC, C#</li>
            <li><b>Frontend</b>: Bootstrap</li>
        </ul>
        <br />
        <h5>🏗 Future Enhancements</h5>
        <ul>
            <li>Expanding the project with CRUD operations</li>
            <li>Adding authentication and authorization</li>
            <li>Enhancing UI design</li>
        </ul>
    </div>
</div>

